/.metadata/.log
/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
/naturavila-back/.classpath
/naturavila-back/.project
/naturavila-back/.settings/org.eclipse.core.resources.prefs
/naturavila-back/.settings/org.eclipse.jdt.core.prefs
/naturavila-back/.settings/org.eclipse.m2e.core.prefs
/.metadata/
/naturavila-back/.settings/org.eclipse.jdt.apt.core.prefs
